@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-primary: #333333;
  --color-secondary: #888888;
  --color-thr: #555555;
  --color-sub: #404040;
  --font-roboto: 'Roboto Mono', monospace;
}
@layer components {
  .btn {
    outline: none;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    border-radius: var(0);
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 6);

    &:hover {
      transition: background-color 300ms;
    }
  }

  .primaryBtn {
    background-color: var(--color-primary);
    color: var(--color-white);
    &:hover {
      background-color: transparent;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }

  .secondaryBtn {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  .iconBtn {
    cursor: pointer;
    padding: 5px;
    color: var(--color-primary);
    &:hover {
      color: var(--color-primary);
    }
  }
  .selectBox {
    border: 1px solid #e1e1e1;
    padding: 5px;
    color: var(--color-secondary);
    &:focus {
      outline: none;
    }
  }
}

@utility container {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
}
